<div class="d-flex flex-column">
    <h1 class="fw-normal fs-4">Cadastrar - Agendamento de Potenciais Clientes</h1>
    <p class="fs-6">Sistema Utilizado para agendamneto de serviços</p>
    <div class="container text-center mt-4 bg-primary text-white">
  <div class="row">
    <div class="col">
      Nome
    </div>
    <div class="col">
      Telefone
    </div>
    <div class="col">
      Origem
    </div>
    <div class="col">
      Data de Contato
    </div>
    <div class="col">
      Observação
    </div>
  </div>
</div>
</div>